{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxSingleQuote": false,
	"printWidth": 100,
	"semi": false,
	"singleAttributePerLine": true,
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true
}
